body {
	text-align:center;
	background-color:#fefefe;
}

#button {
	position:absolute;
	cursor:pointer;
	left:25px;
	top:20px;
	margin:0 auto;
	width:200px;
	height:200px;
	border-radius:8px;
	background-color:#fff;
	border:3px solid #515151;
	box-shadow:10px 10px 15px 0 #9a9a9a;
}